alabaster==0.7.8
astroid==1.4.5
Babel==2.3.4
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
colorama==0.3.7
configparser==3.5.0
cov-core==1.15.0
coverage==4.2
cycler==0.10.0
Cython==0.24
decorator==4.0.10
dill==0.2.5
docutils==0.12
entrypoints==0.2.2
flaky==3.3.0
Flask==0.10.1
functools32==3.2.3.post2
futures==3.0.5
google-api-python-client==1.5.1
httplib2==0.9.2
imagesize==0.7.1
ipdb==0.10.0
ipykernel==4.3.1
ipyparallel==5.0.1
ipython==5.0.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.8
joblib==0.10.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.0
lazy-object-proxy==1.2.2
markdown2==2.3.1
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.3
mpld3==0.2
nbconvert==4.2.0
nbformat==4.0.1
networkx==1.11
nose==1.3.7
nose-cov==1.6
nose-ignore-docstring==0.2
nose-testconfig==0.10
notebook==4.2.1
numpy==1.11.0
oauth2client==3.0.0
pandas==0.18.1
path.py==8.2.1
pathlib2==2.1.0
patsy==0.4.1
pexpect==4.2.0
pickleshare==0.7.3
prompt-toolkit==1.0.3
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pydotplus==2.0.2
PyDrive==1.0.1
Pygments==2.1.3
pylint==1.5.5
pyparsing==2.1.4
pysqlite==2.8.2
pytest==2.9.1
pytest-instafail==0.3.0
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
pyzmq==15.3.0
qtconsole==4.2.1
requests==2.10.0
rsa==3.4.2
scikit-learn==0.17.1
scipy==0.17.1
seaborn==0.7.0
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
statsmodels==0.6.1
tabview==1.4.2
terminado==0.6
tornado==4.4
traitlets==4.2.2
uritemplate==0.6
wcwidth==0.1.7
Werkzeug==0.11.9
widgetsnbextension==1.2.6
wrapt==1.10.8
